@page "/"
@inject IPersistentSettingsRepository SettingsRepository

<PageTitle>Home</PageTitle>

<h1>codeflow and pkce debugger</h1>

<IssuerInfo @bind-Issuer=@Issuer />
<PkceChallenge @bind-Pkce=@PkceChallenge />
<ClientAppInfo @bind-ClientApp=@ClientApp />
<AuthorizeRequestInfo Issuer=@Issuer PkceChallenge=@PkceChallenge ClientApp=@ClientApp />

@*read about the component binding pattern here:
//
https://learn.microsoft.com/en-us/aspnet/core/blazor/components/data-binding?view=aspnetcore-7.0#binding-with-component-parameters
*@

@code {
    public IssuerModel Issuer { get; set; } = new IssuerModel()
        {
            Issuer = "https://login.sck.sh",
        };
    public PkceChallengeModel PkceChallenge { get; set; } = new PkceChallengeModel();

    public ClientAppModel ClientApp = new ClientAppModel()
        {
            ClientId = "jwtjwtjwt"
        };

    protected async override Task OnInitializedAsync()
    {
        // fetch original details if any exist
        Issuer = await SettingsRepository.GetIssuerModelAsync() ?? Issuer;
        PkceChallenge = await SettingsRepository.GetPkceChallengeModelAsync() ?? PkceChallenge;
        ClientApp = await SettingsRepository.GetClientAppModelAsync() ?? ClientApp;
        await base.OnInitializedAsync();
    }

}